$cyan-btn: #00F3BB;
$light-blue-gr1: #0000FF;
$dark-blue-gr1: #0000A3;
$font-color:#060A24;
$cyan-gr2: #00F0B8;
$blue-gr2: #0000FE;
$blue-menu: #0000EC;
$marg-mob-left: 5%;
$marg-desk-left: 6.94%;
$font-size-mob: 16px;
$font-size-desk: 48px;
$texto-mobile: "Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.";
$texto-desktop:"El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.";

